<!--The content below is only a placeholder and can be replaced.-->
<app-navigation (sidenavClick)="showSidenav($event)"></app-navigation>

<mat-sidenav-container class="example-container" [class.example-is-mobile]="mobileQuery.matches">    
        
    <mat-sidenav #sidenav class="example-sidenav">
        Jolly good!
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <router-outlet #route="outlet"></router-outlet>
    </mat-sidenav-content>   

</mat-sidenav-container>

<div class="example-footer">Footer</div>
