<mat-list [@goals]="items.length" (@goals.done)="animationDone($event)">
  <mat-list-item  *ngFor="let item of items" >
    <mat-checkbox>{{item.name}}</mat-checkbox>
    <span class="spacer"></span>
    <button mat-icon-button (click)="deleteItem(item.id)" class="right"><mat-icon class="icon" aria-label="Delete">delete</mat-icon></button>
  </mat-list-item>
  <mat-divider></mat-divider>
 </mat-list>
 <div [@queryAnimation]="exp">
  <div class="block">
    1212312312
  </div>
  <div class="block">
    1212312312
  </div>
  <div class="block">
    1212312312
  </div>
</div>

<button (click)="goAnimate()">qadasdasd</button>
 <app-item-form
 [parentSubject]="parentSubject"
 (sendResults)="formUpdated($event)"
 ></app-item-form>
 